#wrapper {
	width: 1000px;
	margin: auto;
	height: 1500px;
	font-family: Oswald, sans-serif;
}

.topNav {

}

.title {
	border: 1px solid blue;
	width: 100%;
	height: 400px;
}

.content {
	border: 1px solid black;
	width: 100%;
	height: 600px;
}

.content .left {
	border: 1px solid green;
	width: 498px;
	float: left;
	height: 600px;
	display:block;
}

.content .right {
	border: 1px solid orange;
	width: 498px;
	height: 600px;
	display:block;
	float:right;
}

.content .bottom {
	border: 1px solid pink;
	width: 100;
	height: 300px;
	text-align: center;
}

.clear {
	clear: both;
}

.bottomNav {

}

.nav {
	width: 700px;
	height: 100px;
	margin: auto;
	text-align: center;
}

.nav li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	margin-left: 20px;
*/	font-size: 32px;
}

.nav li:nth-child(n+2):before {
	content: '|';
	margin-left: 15px;
	margin-right: 15px;
}

.nav li:nth-child(n+2) {
	margin-left: 17	px;
}

#logo {
	height: 300px;
	width: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.title h1 {
	text-align: center;
	font-family: Oswald, sans-serif;
	font-weight: lighter;
}

.left h2 {
	font-family: Oswald, sans-serif;
	font-weight: lighter;
	text-align: center;
}

.left p {
	font-family: Oswald, sans-serif;
	text-align: center;
	font-weight: lighter;
}

#photo1 {
	display: block;
	height: 400px;
	width: 400px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.contactInfo p{
	margin:0;
}
